@page "/Pipes"
@using Microsoft.AspNetCore.SignalR.Client;
@using Models.Config;
@using Panel16.Shared.Main
@using SimulationOutPutValues
@using System.Linq.Expressions
@using Infrastructure;
@using Panel16.Util
@layout SimulationLayout
@inject ISimulationApi SimulationApi
@inject IThreeJsClient ThreeJs

<div id="pipelines-v2">



<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1510.8 1988.8" style="enable-background:new 0 0 1510.8 1988.8;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;}
</style>
<image style="overflow:visible;" width="5764" height="7891" id="base" xlink:href="./assets/img/svg/1bg.png"  transform="matrix(0.24 0 0 0.24 26.6383 22.8723)">
</image>
<image style="overflow:visible;" width="699" height="530" id="choke" xlink:href="./assets/img/svg/chokemanifold.png"  transform="matrix(0.3683 0 0 0.3683 947.2588 1308.4375)">
</image>
<image style="overflow:visible;" width="479" height="490" id="mgs" xlink:href="./assets/img/svg/mgs.png"  transform="matrix(0.3864 0 0 0.3864 1235.8706 932.8035)">
</image>
<image  style="overflow:visible;" width="675" height="398" id="standpipe" xlink:href="./assets/img/svg/standpipe.png"  transform="matrix(0.4238 0 0 0.4238 348.4723 32.3319)">
</image>
<image style="overflow:visible;" width="765" height="603" id="tanks" xlink:href="./assets/img/svg/tankslineup.png"  transform="matrix(0.3765 0 0 0.3765 915.4042 588.4303)">
</image>
<image style="overflow:visible;" width="513" height="513" class="valve" id="valvebopleft" xlink:href="./assets/img/svg/valvedark.png"  transform="matrix(0.2612 0 0 0.2612 116.5413 1149.343)">
</image>
<image style="overflow:visible;" width="513" height="513" class="valve" id="valvebopright" xlink:href="./assets/img/svg/valvedark.png"  transform="matrix(0.2612 0 0 0.2612 695.6051 1149.343)">
</image>
<image style="overflow:visible;" width="513" height="513" class="valve" id="valvechoketop" xlink:href="./assets/img/svg/valvedark.png"  transform="matrix(0.2612 0 0 0.2612 959.0945 1149.343)">
</image>
<image style="overflow:visible;" width="513" height="513" class="valve" id="valvemgsbottom" xlink:href="./assets/img/svg/valvedark.png"  transform="matrix(0.2612 0 0 0.2612 1158.2434 1149.343)">
</image>
<image style="overflow:visible;" width="513" height="513" class="valve" id="valvemgsleft" xlink:href="./assets/img/svg/valvedark.png"  transform="matrix(0.2612 0 0 0.2612 1078.5839 950.96)">
</image>
<image style="overflow:visible;" width="513" height="513" class="valve" id="valvefire" xlink:href="./assets/img/svg/valvedark.png"  transform="matrix(0.2612 0 0 0.2612 1262.4136 767.1302)">
</image>
<image style="overflow:visible;" width="513" height="513" class="valve" id="valvestandpipe" xlink:href="./assets/img/svg/valvedark.png"  transform="matrix(0.2612 0 0 0.2612 661.903 41.0026)">
</image>
<rect id="fireplace" x="1216" y="418.9" class="st0" width="206.4" height="210.6"/>
<image style="overflow:visible;" x="1216" y="418.9" class="st0" width="206.4" height="210.6" id="firegif" xlink:href="./assets/img/fire.gif" >
</image>
</svg>

</div>



@*
--------------------------
MODAL --------------------
-------------------------
*@

<MudDialog @bind-IsVisible="@(StatndpipeIsVisible)" Class="relative-dialog" style="width:100%">
    <TitleContent>
        <h6>
            Stand Pipe
        </h6>
    </TitleContent>
    <DialogContent>
        
        <svg id="f89fa648-36cf-4280-abaa-1762123dcb18" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 431.12 480.48">
   <defs>
      <image id="a00bbbca-7a9a-46ed-8f19-d01c5e3ee406" width="513" height="513" xlink:href="./assets/img/svg/valvedark.png"/>
   </defs>
   <image id="a959e900-3b70-4a0b-9d36-ea0e99d86614" data-name="base" width="1792" height="2002" transform="translate(1.04) scale(0.24)" xlink:href="./assets/img/svg/3.png"/>
   <use class="valve" id="bdc75fde-ad5e-49bb-9cb9-3555553ac05e" data-name="valve15" transform="translate(154.95 17.19) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="b14772b0-184e-407d-9874-7c737044dbc5" data-name="valve14" transform="translate(220.9 17.19) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="f77dcf69-004a-4d3f-96a4-496bc189a0c5" data-name="valve13" transform="translate(0 117.59) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="ac1f418b-0a10-4a11-bfef-e30fb1bd425c" data-name="valve12" transform="translate(0 198.09) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="a920621d-cc80-4b7b-8b34-bbf2c0eeb75b" data-name="valve11" transform="translate(0 284.22) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="ab880f83-e70b-40f7-9e89-0f043059f4a4" data-name="valve10" transform="translate(92.43 398.81) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="e2d4b202-a3a1-4c03-8bdb-bc51ec8b2730" data-name="valve9" transform="translate(281.62 398.81) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="b1ef46e1-61fa-47ca-984e-ece13cbf0bfc" data-name="valve8" transform="translate(281.62 284.22) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="b2bc1e3e-29f5-4735-ab06-39725168712c" data-name="valve7" transform="translate(92.43 284.22) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="acec686d-1f8b-459a-b462-f082547eec53" data-name="valve6" transform="translate(187.93 198.09) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="e8306a43-ebc5-41ac-a597-76de918e9582" data-name="valve5" transform="translate(92.43 117.59) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="b2a437d2-caca-4191-a25f-faa5ef99e616" data-name="valve4" transform="translate(281.62 117.59) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="f015c026-2f6b-4e0a-b030-2e31be8bc4bf" data-name="valve3" transform="translate(376.58 117.59) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="a4be38c7-aa39-4139-a944-dd2c94f347df" data-name="valve2" transform="translate(376.58 198.09) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
   <use class="valve" id="ad167162-44d8-4b81-8872-a3dca826995e" data-name="valve1" transform="translate(376.58 284.22) scale(0.11)" xlink:href="#a00bbbca-7a9a-46ed-8f19-d01c5e3ee406"/>
</svg>

        
    </DialogContent>
    <DialogActions>
        <button @onclick="LineUpSetClicked" class="btn  btn-primary w-100">
            <i class="fa fa-save"></i>
            @localizer[LocalizationKeys.Set]
        </button>
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="@(chockModalIsVisible)" Class="relative-dialog" style="width:100%">
    <TitleContent>
        <h6>
            Choke Manifold
        </h6>
    </TitleContent>
    <DialogContent>
        <svg id="b0bc948a-c245-4e51-8efe-9a25578d4b63" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 333.57 370.32">
   <defs>
      <image id="b1ed39d7-14a3-48b7-bb35-a26e76a8df25" width="513" height="513" xlink:href="./assets/img/svg/valvedark.png"/>
   </defs>
   <image id="a4839962-ffce-4163-93a3-69af5a64f1fb" data-name="base" width="1383" height="1543" transform="translate(0.3) scale(0.24)" xlink:href="./assets/img/svg/2.png"/>
   <use class="valve" id="a7eabc67-8940-4d9d-8c92-d3d215ba20b5" data-name="valve7" transform="translate(0 74.49) scale(0.11)" xlink:href="#b1ed39d7-14a3-48b7-bb35-a26e76a8df25"/>
   <use class="valve" id="ec028d87-fc51-479a-8dd5-85dcfe6b58ee" data-name="valve6" transform="translate(0 278.74) scale(0.11)" xlink:href="#b1ed39d7-14a3-48b7-bb35-a26e76a8df25"/>
   <use class="valve" id="a00e5797-6df6-4847-872b-07ec5293265b" data-name="valve5" transform="translate(70.47 224.87) scale(0.11)" xlink:href="#b1ed39d7-14a3-48b7-bb35-a26e76a8df25"/>
   <use class="valve" id="ada8957d-3d9f-4116-92bb-4c4b268cd5c0" data-name="valve4" transform="translate(136.28 154.4) scale(0.11)" xlink:href="#b1ed39d7-14a3-48b7-bb35-a26e76a8df25"/>
   <use class="valve" id="e848c73a-a36d-4f76-a7e5-7cb58c81eafc" data-name="valve3" transform="translate(204.26 224.87) scale(0.11)" xlink:href="#b1ed39d7-14a3-48b7-bb35-a26e76a8df25"/>
   <use class="valve" id="b37b8408-630f-4ff3-a051-cd9c1b1242c8" data-name="valve2" transform="translate(278.3 278.74) scale(0.11)" xlink:href="#b1ed39d7-14a3-48b7-bb35-a26e76a8df25"/>
   <use class="valve" id="e94fb624-1aaa-40a1-9540-9e3c205a8dbe" data-name="valve1" transform="translate(278.3 74.49) scale(0.11)" xlink:href="#b1ed39d7-14a3-48b7-bb35-a26e76a8df25"/>
</svg>

        
    </DialogContent>
    <DialogActions>
        <button @onclick="ChockSetClicked" class="btn  btn-primary w-100">
            <i class="fa fa-save"></i>
            @localizer[LocalizationKeys.Set]
        </button>
    </DialogActions>
</MudDialog>

@code {

    private bool StatndpipeIsVisible = false;
    private bool chockModalIsVisible = false;
    private bool modal3isVisible = false;

    private void ChockClicked()
    {
        StatndpipeIsVisible = true;
        StateHasChanged();
    }

    private void StandPipeClicked()
    {
        chockModalIsVisible = true;
        StateHasChanged();
    }

    public static Action? ShowChockModal; 
    public static Action? ShowStandpipeModal; 
    
    
    [JSInvokable]
    public static void InvokePipesEvent(string actionName)
    {
        Console.WriteLine($"InvokePipesEvent called in c#: {actionName}");
        switch (actionName)
        {
            case "standpipe":
                ShowStandpipeModal?.Invoke();
                break;
            case "chock":
                ShowChockModal?.Invoke();
                break;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        ShowChockModal = ChockClicked;
        ShowStandpipeModal = StandPipeClicked;
        
        await base.OnInitializedAsync();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await BrowserTools.InitPipeEvents();
        
        await base.OnAfterRenderAsync(firstRender);
    }


    private void LineUpSetClicked()
    {
        StatndpipeIsVisible = false;
    }

    private void ChockSetClicked()
    {
        chockModalIsVisible = false;
    }
}