@page "/StandPipe"
@layout SimulationLayout

<div class="container svg-container">

	<Panel16.Shared.Drawing_SVGs.ShakerLineFullPart/>

</div>
<style>
      .svg-container {
 	display: inline-block;
	position: relative;
  
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

</style>