@using MudBlazor.Interop
@using Panel16.Pages.Components
@inject IJSRuntime JS
@inherits Panel16.Pages.Components.VolumeComponent

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!-- Created with Inkscape (http://www.inkscape.org/) -->
<div>
<svg
    @onmouseout="e => mouseout(e)" @onmousemove="e=>mousemove(e)"
    class="no-drag animation"
    viewBox="0 0 61 74"
    version="1.1"
    id="@layer_id"
    inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
    sodipodi:docname="degree.svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
<sodipodi:namedview
    id="namedview7"
    pagecolor="#ffffff"
    bordercolor="#000000"
    borderopacity="0.25"
    inkscape:showpageshadow="2"
    inkscape:pageopacity="0.0"
    inkscape:pagecheckerboard="0"
    inkscape:deskcolor="#d1d1d1"
    inkscape:document-units="mm"
    showgrid="false"
    inkscape:zoom="2.025849"
    inkscape:cx="225.58443"
    inkscape:cy="102.91981"
    inkscape:window-width="1920"
    inkscape:window-height="991"
    inkscape:window-x="-9"
    inkscape:window-y="-9"
    inkscape:window-maximized="1"
    inkscape:current-layer="roller"
    showguides="false"/>
<defs
    id="defs2"/>
<g
    inkscape:label="Layer 1"
    inkscape:groupmode="layer"
    id="layer1">
    <circle
        style="fill:#666666;stroke-width:1.866;stroke-linecap:round"
        id="path428"
        cx="30.534252"
        cy="43.099216"
        r="28.471601"/>
    <path
        style="fill:none;fill-opacity:1;stroke:#dfdfdf;stroke-width:0.566;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
        d="m 56.939335,43.162477 -2.81598,-0.06454 z"
        id="path1725"/>
    <path
        style="fill:none;fill-opacity:1;stroke:#dfdfdf;stroke-width:0.566;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
        d="m 3.8279185,42.560027 2.815505,0.08203 z"
        id="path1166"/>
    <path
        style="fill:none;fill-opacity:1;stroke:#dfdfdf;stroke-width:0.566;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
        d="m 15.926423,20.858263 1.631865,2.295826 z"
        id="path1723"/>
    <path
        style="fill:none;fill-opacity:1;stroke:#dfdfdf;stroke-width:0.566;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
        d="M 44.840565,20.858263 43.2087,23.154089 Z"
        id="path1727"/>
    <path
        style="fill:none;fill-opacity:1;stroke:#dfdfdf;stroke-width:0.566;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
        d="M 44.840565,64.98602 43.2087,62.69019 Z"
        id="path1735"/>
    <path
        style="fill:none;fill-opacity:1;stroke:#dfdfdf;stroke-width:0.566;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
        d="m 15.926423,64.98602 1.631865,-2.29583 z"
        id="path1733"/>
    <circle
        style="fill:#808080;stroke-width:1.90881;stroke-linecap:round"
        id="path482"
        cx="30.53425"
        cy="43.099216"
        r="24.448782"/>
    <g
        @onmousedown="e => mousedown(e)" @onmouseup="e => mouseup(e)"
        id="roller"
        transform="translate(-48.872785,-40.48714) rotate(@angle 80 84)">
        >
        <circle
            style="fill:#cccccc;stroke-width:2.47682;stroke-linecap:round"
            id="path694"
            cx="79.407036"
            cy="83.586357"
            r="22.404911"/>
        <circle
            style="fill:#f2f2f2;stroke-width:0.2;stroke-linecap:round;stroke:#949494;stroke-opacity:1;stroke-dasharray:none"
            id="path802"
            cx="68.690781"
            cy="98.72963"
            r="2.3508661"/>
        <rect
            style="fill:#cccccc;fill-opacity:1;stroke-width:0.998356;stroke-linecap:round"
            id="rect856"
            width="4.5419536"
            height="1.397526"
            x="-25.884954"
            y="89.455841"
            rx="0.26751241"
            ry="0.26751241"
            transform="rotate(-55.279964)"/>
        <rect
            style="fill:#cccccc;fill-opacity:1;stroke-width:0.998356;stroke-linecap:round"
            id="rect1100"
            width="4.5419536"
            height="1.397526"
            x="-84.547783"
            y="57.51503"
            rx="0.26751241"
            ry="0.26751241"
            transform="rotate(-89.160541)"/>
        <rect
            style="fill:#cccccc;fill-opacity:1;stroke-width:0.998356;stroke-linecap:round"
            id="rect1102"
            width="4.5419536"
            height="1.397526"
            x="41.210144"
            y="83.301208"
            rx="0.26751241"
            ry="0.26751241"
            transform="rotate(-21.199839)"/>
        <rect
            style="fill:#cccccc;fill-opacity:1;stroke-width:0.998356;stroke-linecap:round"
            id="rect1104"
            width="4.5419536"
            height="1.397526"
            x="-109.36761"
            y="-67.62458"
            rx="0.26751241"
            ry="0.26751241"
            transform="rotate(-156.02875)"/>
        <rect
            style="fill:#cccccc;fill-opacity:1;stroke-width:0.998356;stroke-linecap:round"
            id="rect1112"
            width="4.5419536"
            height="1.397526"
            x="-116.44756"
            y="-41.006184"
            rx="0.26751241"
            ry="0.26751241"
            transform="matrix(-0.56956699,-0.82194492,-0.82194492,0.56956699,0,0)"/>
        <rect
            style="fill:#cccccc;fill-opacity:1;stroke-width:0.998356;stroke-linecap:round"
            id="rect1114"
            width="4.5419536"
            height="1.397526"
            x="-84.602623"
            y="-103.92548"
            rx="0.26751241"
            ry="0.26751241"
            transform="matrix(0.01287384,-0.99991713,-0.99991713,-0.01287384,0,0)"/>
        <rect
            style="fill:#cccccc;fill-opacity:1;stroke-width:0.998356;stroke-linecap:round"
            id="rect1116"
            width="4.5419536"
            height="1.397526"
            x="-106.90338"
            y="25.992323"
            rx="0.26751241"
            ry="0.26751241"
            transform="matrix(-0.93232482,-0.36162195,-0.36162195,0.93232482,0,0)"/>
        <rect
            style="fill:#cccccc;fill-opacity:1;stroke-width:0.998356;stroke-linecap:round"
            id="rect1136"
            width="4.5419536"
            height="1.397526"
            x="21.127775"
            y="-136.33899"
            rx="0.26751241"
            ry="0.26751241"
            transform="rotate(124.72004)"/>
        <rect
            style="fill:#cccccc;fill-opacity:1;stroke-width:0.998356;stroke-linecap:round"
            id="rect1140"
            width="4.5419536"
            height="1.397526"
            x="-46.375961"
            y="-130.05818"
            rx="0.26751241"
            ry="0.26751241"
            transform="rotate(158.80016)"/>
        <rect
            style="fill:#cccccc;fill-opacity:1;stroke-width:0.998356;stroke-linecap:round"
            id="rect1124"
            width="4.5419536"
            height="1.397526"
            x="111.69037"
            y="-5.8770294"
            rx="0.26751241"
            ry="0.26751241"
            transform="matrix(0.56956698,0.82194493,0.82194493,-0.56956698,0,0)"/>
    </g>
    @if (VolumeText != "")
    {
        <g>
            <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:7.76111px;font-family:Calibri;-inkscape-font-specification:'Calibri Bold';direction:rtl;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.565999;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
                x="50.426426"
                y="6.614079"
                id="volume_text">
                <tspan
                    sodipodi:role="line"
                    id="tspan1948"
                    style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:7.76111px;font-family:Calibri;-inkscape-font-specification:'Calibri Bold';stroke:none;stroke-width:0.566"
                    x="50.426426"
                    y="6.614079">
                    @VolumeText
                </tspan>
            </text>

        </g>
    }

</g>
</svg>
<div class="button_box">
    <div class="row justify-content-center align-content-center align-items-center">

        <div class="col-1" >
            
            <button style="margin-right:2rem" @onclick="DecreaseValue" @onmousedown="()=>MouseDownOnButtons(VolumeButtons.MinusButton)" @onmouseup="MouseUpOnButtons">-</button>
        </div>
        <div class="col-3">
            <input type="number" max="1" min="0" maxlength="3" size="3" disabled @bind="@(Value)"/>
            
        </div>
        <div class="col-1">
            
            <button @onclick="IncreaseValue" @onmousedown="()=>MouseDownOnButtons(VolumeButtons.PlusButton)" @onmouseup="MouseUpOnButtons">+</button>
        </div>
        <div class="col-1"/>
        
    </div>
</div>

</div>
<style>
    .no-drag{
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    .button_box button{
    font-size: 4rem;
    }
    .button_box input{
    margin-left: 0.7rem;
    }
    #roller{
        cursor: pointer;
    }
    
</style>

@code {
    [Parameter]
    public string VolumeText { get; set; } = "";
 
    private string layer_id = Guid.NewGuid().ToString("N");

    private int min_valur = 0;
    private int max_value = 290;
    private int angle => (int) ((max_value - min_valur) * Value + min_valur);
    private bool is_on_hold = false;
    private async Task mouseout(MouseEventArgs args)
    {
        var layer_1_bounds = await JS.InvokeAsync<BoundingClientRect>("methods.GetRect",layer_id );
        if (args.ClientY < layer_1_bounds.Top || args.ClientY > layer_1_bounds.Bottom || 
            args.ClientX > layer_1_bounds.Right || args.ClientX < layer_1_bounds.Left)
        {
            is_on_hold = false;
        }
    }

    private void mousedown(MouseEventArgs mouseEventArgs)
    {
        is_on_hold = true;
    }

    private void mouseup(MouseEventArgs mouseEventArgs)
    {
        is_on_hold = false;
    }

    private async Task mousemove(MouseEventArgs args)
    {
        if (is_on_hold)
        {
            /*Shape definition
             these should be calculated properly 
             ** don't change if you don't know the logic
             */
            
            var start_angle = 120d;
            var end_angle = 60d;
            
            // do the calculations here ! ARC tan!! Math.ta
            var bounds = await JS.InvokeAsync<BoundingClientRect>("methods.GetRect",layer_id );
            var abs_y = args.ClientY - bounds.Y - bounds.Height / 2; 
            var abs_x = args.ClientX - bounds.X - bounds.Width / 2;
            var rads =Math.Atan2(abs_y, abs_x);
            var degree = rads / Math.PI * 180;

            switch (degree)
            {
                case >= 90 and <= 180:
                    degree = Math.Max(degree, start_angle);
                    degree -= 120;
                    break;
                case >= 0 and <= 90:
                    degree = Math.Min(degree, end_angle);
                    degree += 230;
                    break;
                case >= -180 and <= -90:
                    degree += 180; // invert
                    degree += 60;
                    break;
                case >= -90 and <= 0:
                    degree += 90; // start 0 to 90
                    degree += 140;
                    break;
            }

            Value = degree / 290;
            //ValueChanged?.InvokeAsync();
            //OnValueSet?.Invoke(Value);
            Value = Math.Round(Value, 2);
        }
    }


}