.splash-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.splash {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/bg01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.splash__logo {
    width: 270px;
}


.splash .foot-note {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

.retry {
    align-items: center;
    justify-content: center;
    color: #0f6efe;
    padding: 10px;
}

.retry img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.retry span {
    margin-right: 10px;
    font-size: 20px;
}


// loading
.loader3 {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0px;
}

.loader3 span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: rgba(255, 255, 255,0.7);
    -webkit-animation: loader3 1.5s linear infinite;
    animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
    animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
    0% {
        transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes loader3 {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}
