.spinner {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    height: 60px;
    width: 60px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0,174,239,.15);
    border-right: 6px solid rgba(0,174,239,.15);
    border-bottom: 6px solid rgba(0,174,239,.15);
    border-top: 6px solid rgba(0,174,239,.8);
    border-radius: 100%;
    z-index: 100000;
}

.middle-item {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    margin: 0px auto;
    z-index: 1000;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#spinnerDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    background-color: black;
    z-index: 100000;
}

.splash-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.splash {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #0a788d, #01264e);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}



    .splash .foot-note {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: #fff;
    }

.retry {
    align-items: center;
    justify-content: center;
    color: #0f6efe;
    padding: 10px;
}

    .retry img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .retry span {
        margin-right: 10px;
        font-size: 20px;
    }

.loader3 {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0px;
}

    .loader3 span {
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.7);
        -webkit-animation: loader3 1.5s linear infinite;
        animation: loader3 1.5s linear infinite;
    }

        .loader3 span:last-child {
            animation-delay: -0.9s;
            -webkit-animation-delay: -0.9s;
        }

@keyframes loader3 {
    0% {
        transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes loader3 {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}
