@using System.Linq
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using System.Globalization;
@using System.Resources;

@typeparam TItem

<label for="@fortag">@label</label>

@code {
	[Parameter] public string aspfor { get; set; }

	private string label => GetDisplayName(aspfor);

	private string fortag => aspfor;

	private string GetDisplayName(string propertyname)
	{
		MemberInfo myprop = typeof(TItem).GetProperty(propertyname) as MemberInfo;
		var dd = myprop.GetCustomAttribute(typeof(DisplayAttribute)) as DisplayAttribute;

		var resourceType = dd.ResourceType;
		var resourceKey = dd.Name;

		if (resourceType is null) return resourceKey ?? "";

		var resourceManagerMethodInfo = resourceType.GetProperty(nameof(ResourceManager), BindingFlags.Public | BindingFlags.Static);

		var resourceManager = (ResourceManager)resourceManagerMethodInfo?.GetValue(null);

		return resourceManager?.GetString(resourceKey, CultureInfo.CurrentUICulture);

	}
}