<div class="bottom">
    <div class="total">
        <p>Total Stroker</p>
        <div class="detail">
            <button class="reset">Reset</button>
            <div class="num">@Value</div>
        </div>
    </div>
</div>

@code{

    [Parameter]
    public int Value { get; set; }

}