
<div class="datadisplay">
<div class="row table-header">
    <h5>Drilling Data Display</h5>
</div>
<div class="row ">
    <div class="col table-box">
        <div class="row table-detail ">
            <label >Total Depth</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        
    </div>
    <div class="col table-box">
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        <div class="row table-detail">
            <label >test</label>
            <label >value</label>
        </div>
        
    </div>
</div>
</div>
<style>
.datadisplay{
}
    .table-detail{
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;    
    }
    .table-header{
    display: flex;
    justify-content: center;
    color: antiquewhite;
    background-color: #797777;
    }
    .table-box{
    border: solid black 1.5px;
    }
</style>

@code {

}